# This file defines who owns the code in this repository.
# GitHub will automatically request reviews from these owners when a PR touches the files they own.

# Global owner
* @jsamuelsen11

# Go Code
*.go @jsamuelsen11

# Configuration
/config @jsamuelsen11
Makefile @jsamuelsen11
go.mod @jsamuelsen11
go.sum @jsamuelsen11
